 @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster+Two&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Poppins:wght@500;600&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}
html , body{
    height: 100%;
    width: 100%;
}
/* ^header section shuru */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1380px;
  height: 646px;
  background-color: black;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.text{
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
.text h2{
  font-size: 70px;
  margin-bottom: 20px;
}

.text p{
  font-size: 16px;
  margin-bottom: 20px;
}
.text .button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 56px;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.text .button:hover{
  background-color: lightblue;
  color: black;
  
}
.text .button span{
  margin-right: 8px;
}
.image{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img{
  width: 75%;
}
/* ^ header section er kaaj sesh */

/* & main secction er kaaj shuru */
main{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}
main .posts{
  width: 41%; 
  position: relative;
  left: 9%;
}
main .post{
  width: 312px;
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
main .post h2,button{
  width: 252px;
  height: 64px;
  background-color: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
main .post button a{
  text-decoration: none;
  color: black;
}

main .post .blog{
  background-color: red;
}

/* & main .contents er kaaj shuru  */
main .contents{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: relative;
  right: 14%;
  gap: 56px;
  
}
main .content{
width: 312px;
}
main .contents .content .content-info{
  /* width: 90%; */
  padding-left: 20px;
  margin-top: 10px;
}
main .content-info .button{
  width: 150px;
  font-size: 22px;
  text-align: center;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}
main .content-info p{
  font-size: 18px;
  margin-bottom: 10px;
}

main .content-info .icon .fa-clock{
  margin-right: 7px;
  font-size: 20px;
}
main .content-info .icon span{
  font-size: 20px;
}

main .content-info .icon .fa-comment-dots{
  margin-left:30px;
  margin-right: 7px;
  font-size: 20px;
}

main .hide-button{
  display: none;
  margin-top: 10%;
}
.hide-button button{
  background-color: red;
  width: 131px;
  height: 47px;
  color: white;
  text-align: center;
  /* padding: 10px; */
  font-size: 35px;
  border-radius: 10px;
}
/* &main section er kaaj sesh */
/* @ footer section er kaaj shuru */
footer{
  background-color: black;
  color: gray;
  height: 400px;
}
.goal{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 80px 0;
  font-size: 30px;
}
hr{
  background-color: gray;
  width: 60%;
  margin-left: 20%;
}
.about{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 351px;
  margin-right: 351px;
  margin-top: 100px;
  margin-bottom: -200px;
}
/* ! media query */

@media (max-width:450px){
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
  }
  header .text h2{
    margin-top: 20px;
    font-size: 20px;
  }
  header .text p{
    font-size: 14px;
  }
  header .text .button{
    width: 161px;
    height: 40px;
    margin-top: -10px;
  }

  header .image img{
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 245px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  main .posts{
    
    margin-bottom: 50px;
    margin-left: 2%;
    width: 100%;
  }
  main .post{
    background-color: white;  
    /* border: 1px solid black; */
  }
  main .post h2{
    width: 210px;
    height: 48px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
  }
  main .contents{
    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 35%;
  }

  footer{
    display: flex;
    flex-direction: column;
    height: 600px;
  }
  footer .about{
    display: flex;
    width: 100%;
    margin-left: 0%;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
 


}



@media (min-width:451px) and (max-width:800px){
  body{
    overflow-x: hidden;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 734px;
    height: 398px;
  }
  
  .text h2{
     font-size: 40px;
  }
  .text p{
    font-size: 14px;
  }
  .text .button{
    width: 161px;
    height: 48px;
    font-size: 20px;
  }
  main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  main .posts{
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
    
  }
  main .posts .post{
    display: flex;
    background-color: white;
    flex-direction: row;
    gap: 22px;
    width: 120%;
  }
  .post h2{
    width:230px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid  black;
    text-align: center;
    padding-top: 15px;
  }
  .post .blog{
    width: 230px;
    height: 64px;
  }
  main .contents{
    width: 100%;
    margin-left: 19%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
  main .hide-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  footer{
    width: 100%;
    height: 100vh;
  }
  
  footer .about{
    margin-left: 0%;
    gap: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}