 @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster+Two&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Lobster Two', cursive;
     font-size: 25px;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
  width: 500px;
  height: 500px;
  border: 3px solid black;
  background-color: lightseagreen;
  margin-bottom: 50px;
}
#box-2{
  position: relative;
  top: -340px;
  /* left: 30px; */
}
#box-1:hover{
  transform: perspective(200px) translateZ(-20px);
  z-index: 1;
  background-color: red;
}